.pokedex-container {
  width: 80vw;
  height: 80vh;
  margin: auto;
  display: flex;
  position: relative;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--red);
}

.pokedex-search-bar {
  position: absolute;
  top: 0;
  margin-top: 2.5rem;
}

.pokedex-list-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 80%;
  border: 1px solid #fff;
  margin: 3rem 0 0 1.5rem;
}

.pokedex-display-container {
  position: absolute;
  right: 0;
  border: 1px solid black;
  width: 45%;
  height: 80%;
  margin: 3rem 1.5rem 0 0;
}
