.pokecard {
  width: 15rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem;
  padding: 2rem;
  align-items: center;
  background-color: var(--yellow);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.pokecard:hover {
  transform: scale(1.05);
}

.pokecard-sprite {
  height: 85px;
  width: 85px;
}
