@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --red: #f40552;
  --blue: #dbf6e9;
  --orange: #ef4444;
  --yellow: #f6d743;
  --border-color: #120136;
  --text-color: #162447;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--blue);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
}

h1 {
  font-size: 5.7rem;
}
