@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --red: #f40552;
  --blue: #dbf6e9;
  --text-color: #162447;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--blue);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
}

.app-title {
  text-align: center;
  padding: 3rem;
  font-size: 5.5rem;
}
